@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-position: -50% 150%, 150% -150%;
    background-repeat: no-repeat, no-repeat;
    background-color: #19a1ad;
    font-family: 'Kumbh Sans', sans-serif;
}
